.main{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    position: relative;
}
.recipe-container{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.btn-add{
    padding: 2rem;
}
.modal{
position: absolute;
width: 500px;
height: 300px;
top: 5rem;
left: 5rem;
border: 1px solid black;
background-color: lightblue;

}
.recipeform{
    display: flex;
    flex-direction: column;
}
.btn-addrecipe{
    padding: 1rem;
    margin-bottom: 0.5rem;
}